<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>

</head>
<body>
  <% @school_classes.each do |sc| %>
  <p>Class Title: </p>
    <%= sc.title %>
  <p>Room Number: </p>
    <%= sc.room_number %>
</body>
</html>
