<!DOCTYPE html>
<html>
<head>
  <title>School Class</title>

</head>
<body>
  <h1>School Class Title:</h1>
  <h1><%= @school_class.title %></h1>
  <p>Room Number <%= @school_class.room_number %></p>

</body>
</html>
